# Degerby Proxy

Time series of daily Baltic Sea volume, reconstructed
from  observations  of  sea  surface  elevation  at  tide
gauge Degerby, are available for 9 yr, i.e. 1980 to 1988
(Launiainen & Vihma 1990b). It is well known that sea
level  change  in  the  centre  of  the  Baltic  Sea  (e.g.
Degerby  or  Landsort)  is  representative  of  volume
change,  i.e.  the  mean  sea  level  change  of  the  whole
Baltic Sea (e.g. Jacobsen 1980).

# About GESLA3

We converted height units to metres, the time zone of each record was adjusted to Coordinated Universal Time (UTC).

We did not adjust the frequency of the station records, which in all cases was at least hourly, although several sources have data at higher-frequency (15, 10 or 6 minutes)

We use total water levels from the GESLA-2 
dataset (Tiggeloven 2021)

In [1]:
from gesla import GeslaDataset

meta_file = "resources/gesla/GESLA3_ALL.csv"
data_path = "resources/gesla/GESLA3.0_ALL.zip"

g3 = GeslaDataset(meta_file=meta_file, data_path=data_path)

In [4]:
filenames = ['warnemuende-war-deu-cmems', 
'wismar-wis-deu-cmems',
'degerby-deg-fin-cmems',
]

df, meta = g3.file_to_pandas(filenames[1])
df

                     sea_level  qc_flag  use_flag
date_time
2011-01-27 16:00:00      -0.16        1         1
2011-01-27 16:15:00      -0.16        1         1
2011-01-27 16:30:00      -0.17        1         1
2011-01-27 16:45:00      -0.17        1         1
2011-01-27 17:00:00      -0.17        1         1
...                        ...      ...       ...
2020-12-17 06:30:00      -0.15        1         1
2020-12-17 06:45:00      -0.15        1         1
2020-12-17 07:00:00      -0.16        1         1
2020-12-17 07:15:00      -0.17        1         1
2020-12-17 07:30:00      -0.19        1         1

[339102 rows x 3 columns]

# Preprocessing

In [7]:
import numpy as np
import importlib
from data import preprocessing

In [15]:
df_use = df.query('use_flag == 1') # Only use data that is labeled for analysis by GESLA doc
sl = df_use['sea_level'].values
mean_sl = df_use['sea_level'].mean()
print(mean_sl)
print(f'max:{max(sl)}, min: {min(sl)}')

-0.06358931720240288
max:1.75, min: -1.61